<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orbitron:wght@800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orbitron&family=Oswald:wght@300&display=swap" rel="stylesheet">
        <title>POKEDEX</title>
        <style>
            h2 {
                color:darkgreen;
                font-style: font-family: 'Open Sans', sans-serif;
            font-family: 'Orbitron', sans-serif;
            }
            fieldset {
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 20px;
                margin: 20px 0;
            }
            legend {
                padding: 0px 10px;
                font-family: 'Oswald', sans-serif;
                font-weight: 500;
                color: purple;
            }
            label {
                font-family: 'Oswald', sans-serif;
                font-weight: 200;
                color: brown;
                display: block;
            }
            input {
                width: 100%;
                margin: 10px 0;
                padding: 10px;
                box-sizing: border-box;
                border: 1px solid lightseagreen;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <!-- ============= CONTAINER ============== -->
        <div class="container">
            <!-- sidebar -->
            <div class="sidebar">
            <!-- edit container -->
            <div class="edit">
                <h2>Edit <%= pokemon.name %></h2>
                <!-- START FORM -->
                <form action="/pokemon/<%= id %>?_method=PUT" method="POST">
                    <!-- fieldset for Pokemon info -->
                    <fieldset class="pokemon-info">
                        <!-- legend for Pokemon info -->
                        <legend>POKEMON INFORMATION</legend>
                            <!-- Pokemon's name -->
                            <label>NAME</label>
                            <input type="text" name="name" value="<%= pokemon.name %>"/>
                            <!-- Pokemon's image -->
                            <label>IMAGE</label>
                            <input type="text" name="image" value="<%= pokemon.img %>"/>
                            <!-- Pokemon's type -->
                            <label>TYPE</label>
                            <input type="text" name="type" value="<%= pokemon.type %>"/>
                            <!-- Pokemon's Attack stat-->
                            <label>ATTACK STAT</label>
                            <input type="text" name="attack" value="<%= pokemon.stats.attack %>"/>
                            <!-- Pokemon's HP stat -->
                            <label>HP STAT</label>
                            <input type="text" name="hp" value="<%= pokemon.stats.hp %>"/>
                            <!-- Pokemon's Defense stat -->
                            <label>DEFENSE STAT</label>
                            <input type="text" name="defense" value="<%=pokemon.stats.defense %>"/>
                    </fieldset>
                    <!-- submit button -->
                    <input type="submit" value="EDIT <%= pokemon.name %>"/>
                </form>
            </div>
            </div>
        </div>
    </body>
</html>