<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orbitron&family=Oswald:wght@300&display=swap" rel="stylesheet">
    <title>POKEDEX - <%= pokemon.name %></title>
    <style>
        body {
            background: #e9e9e9;
            font-family: helvetica;
            }
        h2 {
            color:darkgreen;
            font-style: font-family: 'Open Sans', sans-serif;
            font-family: 'Orbitron', sans-serif;
            }
        .container {
            width: 80vw;
            height: 40vw;
            margin: 50px auto;
            display: flex;
            border-radius: 10px;
            box-shadow: 1px 1px 10px #ddd,
                        -1px -1px 10px #ddd,
                        1px -1px 10px #ddd,
                        -1px 1px 10px #ddd;
            }
        .sidebar {
            width: 50%;    
            background: url('<%= pokemon.img %>');        
            background-size: 40vw 40vw;
            background-repeat: no-repeat;
            border-radius: 10px 0 0 10px;
            }    
        .pokemon-info {
            width: 50%;
            background: #f9f9f9;
            border-radius: 0 10px 10px 0;
            padding: 15px;
            box-sizing: border-box;
            overflow: auto;
            } 
        fieldset {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 20px 0;
            }
        label {
            font-family: 'Oswald', 'Sans-Serif';
            font-weight: 400;
            color: rgb(35, 52, 146);
            display: block;
            }
        p {
            font-family: 'Oswald', 'Sans-Serif';
            font-weight: 200;
            color: black;
            display: block;
        }    
        .edit-delete {
            display: flex;
            justify-content: space-evenly;
        } 
      
    </style>
    <%- include("import.ejs") %>
</head>
<body>
    <div class="container">
        <!-- sidebar -->
        <div class="sidebar">
        </div>
            <!-- pokemon info container -->
            <div class="pokemon-info">
            <h2> <%= pokemon.name %> </h2>
                <!-- fieldset for pokemon info -->
                <fieldset class="pokeinfo">
                    <!-- pokemon type -->
                    <label>TYPE</label>
                    <p> <%= pokemon.type %></p>
                    <label>HP STAT</label>
                    <p> <%= pokemon.stats.hp %></p>
                    <label>ATTACK STAT</label>
                    <p><%= pokemon.stats.attack %></p>
                    <label>DEFENSE STAT</label>
                    <p><%= pokemon.stats.defense %></p>
                </fieldset>
                <!-- fieldset for editing and deleting -->
                <fieldset class="edit-delete">
                    <a class="edit-button" href="/pokemon/<%= id %>/edit">
                    <input type="submit" value="EDIT"/> </a>
                    <div class="delete">
                    <form action="/pokemon/<%= id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" /></div>
                     <!-- return to index button -->
                    <a class="return" href="/pokemon">
                    <input type="submit" value="RETURN TO POKEDEX" /></a>
                    </form>
                </fieldset>                  
            </div>       
        </div>
    </div>
</body>
</html>